 <!-- Contact Section -->
<section id="blog">
    <div class="container">
        <span>
        <h1>{{ page.title }}</h1>
        </span>
        
        <ul class="listing">
        <!--just show blog-->
        {% for cat in site.categories %}
            {% if cat[0] == "blog" %}
                {% for post in cat[1] %}
                  <li class="listing-item">
                  <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                  <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
                  </li>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</section>